In [5]:
import pandas as pd
import numpy as np
import random
import glob
import csv, os

In [3]:
def is_file_empty(file_path):
    return os.path.exists(file_path) and os.stat(file_path).st_size == 0

In [26]:
count = 1
df = pd.DataFrame()
for files in glob.glob('E:\\DADV\\BSE-Assignment\\Datasets\\*.csv'):
    if count == 10:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("E:\\DADV\\BSE-Assignment\\Datasets\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    gain = (data.at[data.shape[0]-1, "Close Price"] / data.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [27]:
df

     Code      Gain
0  500002 -0.007917
1  505358  0.475936
2  506260  0.249711
3  511359  0.739800
4  511696  0.000000
5  512344  0.056022
6  513566  1.334821
7  514165 -0.031377
8  519279  0.709677

In [30]:
df = df.sort_values("Gain", ascending=False)
df

     Code      Gain
6  513566  1.334821
3  511359  0.739800
8  519279  0.709677
1  505358  0.475936
2  506260  0.249711
5  512344  0.056022
4  511696  0.000000
0  500002 -0.007917
7  514165 -0.031377

### Analysis

In [31]:
icici = pd.read_csv("icici.csv")

In [39]:
dic = {}
count = 1
for files in glob.glob("E:\\DADV\\BSE-Assignment\\Datasets\\*.csv"):
    f=open(files, 'r')
    if count == 10:
        break
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("E:\\DADV\\BSE-Assignment\\Datasets\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    dic[name] = list(data["Close Price"])
    count = count + 1
    f.close()

#making all equal sized lists (for correlation to happen)
dic["icici"] = list(icici["Close Price"])
max_length = 0
for lis in dic.values():
    max_length = max(max_length, len(lis))
for lis in dic.values():
    lis += [0.0] * (max_length - len(lis))

#finding the correlation
df = pd.DataFrame()
for each1 in dic.keys():
    corr = np.corrcoef(dic.get("icici"), dic.get(each1))[0][1]
    row = {'Code': each1, 'Corr': corr}
    df = df.append(row, ignore_index=True)
df

     Code      Corr
0  500002  0.325005
1  505358 -0.564644
2  506260  0.000471
3  511359  0.521522
4  511696  0.651220
5  512344  0.215820
6  513566 -0.007471
7  514165  0.008308
8  519279  0.766022
9   icici  1.000000

In [40]:
df = df.sort_values("Corr", ascending=False)
df

     Code      Corr
9   icici  1.000000
8  519279  0.766022
4  511696  0.651220
3  511359  0.521522
0  500002  0.325005
5  512344  0.215820
7  514165  0.008308
2  506260  0.000471
6  513566 -0.007471
1  505358 -0.564644

In [36]:
# count = 1
# df = pd.DataFrame()
# for files in glob.glob('E:\\DADV\\BSE-Assignment\\Datasets\\*.csv'):
#     if count == 10:
#         break
#     f=open(files, 'r')
#     name = os.path.basename(f.name).replace(".csv","")
#     if is_file_empty("E:\\DADV\\BSE-Assignment\\Datasets\\"+name+".csv"):
#         continue
#     data = pd.read_csv(f)
    
#     companyList = data["Close Price"]
#     iciciList = icici["Close Price"]
#     max_length = max(len(companyList), len(iciciList))
#     companyList += [0.0] * (max_length - len(data["Close Price"]))
#     iciciList += [0.0] * (max_length - len(icici["Close Price"]))
    
#     corr = np.corrcoef(companyList, iciciList) [0][1]
#     row = {'Code': name, 'Corr': corr}
#     df = df.append(row, ignore_index=True)
#     count = count + 1
#     f.close()

ValueError: operands could not be broadcast together with shapes (246,) (0,)